@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #F7F7F7;
}
